
BezierDemo/.idea/compiler.xml

BezierDemo/.idea/copyright/profiles_settings.xml

BezierDemo/.idea/misc.xml

BezierDemo/.idea/markdown-navigator/profiles_settings.xml

BezierDemo/.idea/vcs.xml

BezierDemo/.idea/modules.xml
